.srGalery {
	width: 70%;
	border: 1px solid black;
	background-color:#EEEEFF;
	padding: 10px;
	margin: 20px;
}

.srGaleryInfo {
	margin-top: 10px;
	margin-bottom:10px;
}

.srGaleryName {
	font-weight: bold;
	font-size: 20pt;
}

.srGaleryPrice {
	font-weight: bold;
	font-size: 20pt;
	float: right;
}

.srCustomer {
	margin-top: 30px;
	margin-left: 10px;
}

.srCustomerName {
	font-size: 16pt;
	font-weight: bold;
 }

 .srCustomerNameMisingDataDetected {
	font-size: 16pt;
	font-weight: bold;
	color:#FF0000;
 }

.srCustomerEmail {
	font-size: 11pt;
	margin-left: 20px;
}

.srCustomerPrice {
	font-size: 12pt;
	margin-left: 100px;
	float: right;
}

.srCustomer {
}

.srCustomerListName {
	font-size: 11pt;
	font-weight: bold;
}

.srCustomerListNameMisingDataDetected {
	font-size: 11pt;
	font-weight: bold;
	color:#FF0000;
}

.srCustomerListEmail {
	font-size: 11pt;
	margin-left: 50%;
}

.srCustomerListPrice {
	font-size: 11pt;
	margin-left: 100px;
	float: right;
}

.srPhotoType {
	font-weight: bold;
	margin: 10px;
}

.srPhotos {
	margin: 10px;
}

.srPhoto {
	border-bottom: 1px solid lightgray;
	margin-left: 20px;
}

.srPhotoQuantityAdded {
	border-bottom: 1px solid lightgray;
	margin-left: 20px;
	color:#FF0000;
}

.srPhotoQuantity {
	float: right;
	margin-right: 60%;
}